<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/layout/template.xhtml">
    <ui:define name="content">
        <h1>Hello, EE 8 Test!</h1>
        There should be a JAX-RS endpoint telling you date and time <a href="#{request.contextPath}/rest/">here</a>.
    </ui:define>
</ui:composition>